/Term1/Machine Vision/labs/Practical10_CNN/Practical10_CNN/cct20_labels.json
/Term1/Machine Vision/labs/Practical10_CNN/Practical10_CNN/cct20_labels_large.json
/Term1/Machine Vision/labs/Practical10_CNN/Practical10_CNN/cct20_labels_random.json
/Term1/Machine Vision/labs/Practical10_CNN/Practical10_CNN/test
/Term1/Machine Vision/labs/Practical10_CNN/Practical10_CNN/train
/Term1/Machine Vision/labs/Practical10_CNN/Practical10_CNN/validation
/Term1/Machine Vision/CW/CW2/5404167.zip
