/Machine Vision/labs/Practical10_CNN/Practical10_CNN/cct20_labels.json
/Machine Vision/labs/Practical10_CNN/Practical10_CNN/cct20_labels_large.json
/Machine Vision/labs/Practical10_CNN/Practical10_CNN/cct20_labels_random.json
/Machine Vision/labs/Practical10_CNN/Practical10_CNN/test
/Machine Vision/labs/Practical10_CNN/Practical10_CNN/train
/Machine Vision/labs/Practical10_CNN/Practical10_CNN/validation
